<section class="recent-post">
    <div class="max-w-5xl mx-auto px-5">
        <h2 class="text-[44px] leading-[60px] font-bold p-5">Blog</h2>
        <div class="section-body">
            <div class="">
                <div class="bg-[#fff] p-5">
                    <h3 class="text-[26px] font-bold">
                        UI Interactions of the week
                    </h3>
                    <div class="flex items-center py-[10px] space-x-4">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Express, Handlebars</a>
                    </div>
                    <p class="recent-post__desc  border-b pb-5">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="bg-[#fff] p-5">
                    <h3 class="text-[26px] font-bold">
                        UI Interactions of the week
                    </h3>
                    <div class="flex items-center py-[10px] space-x-4">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Express, Handlebars</a>
                    </div>
                    <p class="recent-post__desc  border-b pb-5">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
                <div class="bg-[#fff] p-5">
                    <h3 class="text-[26px] font-bold">
                        UI Interactions of the week
                    </h3>
                    <div class="flex items-center py-[10px] space-x-4">
                        <span>12 Feb 2019</span>
                        <span>|</span>
                        <a href="" class="text-[#8695A4]">Express, Handlebars</a>
                    </div>
                    <p class="recent-post__desc  border-b pb-5">
                        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>