<section class="recent-post">
    <div class="max-w-5xl mx-auto px-5">
        <div class="py-5 ">
            <div class="project__content">
                <h3 class="text-[30px] font-bold leading-[20px]">{{works.name}}</h3>
                <div class="flex space-x-4 py-5">
                    <span class="inline-block bg-[#FF7C7C] rounded-full text-white px-2">2018</span>
                    <a href="" class="text-[#8695A4]">{{works.category}}</a>
                </div>
                <p>
                    {{works.desc}}
                </p>
            </div>
        </div>
        <div>
            <img src="{{works.img}}" alt="" class="rounded w-full" />
        </div>
        <div>
            <h2 class="text-[30px] py-[10px]">Heading 1</h2>
            <h3 class="text-[24px] pb-[10px]pb-[10px]">Heading 2</h3>
            <p class="py-[10px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <div>
                    <img src="{{works.img}}" alt="" class="rounded w-full" />
                </div>
                <div class="pt-[27px]">
                    <img src="{{works.img}}" alt="" class="rounded w-full" />
                </div>
                
        </div>
    </div>

</section>
