<section class="py-10 md:py-20">
    <div class="max-w-5xl mx-auto px-5">
      <div class="grid md:grid-cols-3 gap-8">
        <div class="order-2 text-center md:order-1 md:col-span-2  md:text-left">
          <h2 class="text-[44px] leading-[60px] font-bold">
            Hi, I am Duy, Creative Technologist
          </h2>
          <p class="text-base my-5">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
          <a href="" class="inline-block py-5 px-10 text-white rounded bg-red-500 banner-content__btn"
            >Download Resume</a
          >
        </div>
        <div class="order-1 md:order-2">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Atkinson_Rowan.jpg"
            alt=""
            class="rounded-full mx-auto md:ml-auto md:mr-0"
          />
        </div>
      </div>
    </div>
  </section>
  <!--End .banner-->
  <section class="bg-[#EDF7FA] py-5">
    <div class="max-w-5xl mx-auto px-5">
      <div class="flex justify-between items-center py-5">
        <h2 class="text-[22px] ">Recent post</h2>
        <a href="" class="text-[#00A8CC]">View all</a>
      </div>
      <div class="section-body">
        <div class="grid md:grid-cols-2 gap-8">
          <div class="bg-[#fff] p-5">
            <h3 class="text-[26px] font-bold">
              Making a design system from scratch
            </h3>
            <div class="flex items-center py-5 space-x-4">
              <span>12 Feb 2020</span>
              <span>|</span>
              <a href="">Design, Pattern</a>
            </div>
            <p class="recent-post__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
          <div class="bg-[#fff] p-5">
            <h3 class="text-[26px] font-bold">
              Making a design system from scratch
            </h3>
            <div class="flex items-center py-5 space-x-4">
              <span>12 Feb 2020</span>
              <span>|</span>
              <a href="">Design, Pattern</a>
            </div>
            <p class="recent-post__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="projects">
    <div class="max-w-5xl mx-auto px-5">
      <div class="flex justify-between items-center py-5">
        <h2 class="text-[22px]">Feature Works</h2>
      </div>
      <div class="section-body">
        <div class="border-b py-5 grid md:grid-cols-[246px,auto] gap-4">
          <div class="shadow-lg">
            <img
              src="https://elements-cover-images-0.imgix.net/5dd0fcf2-9002-4797-8a05-30d524d38a12?auto=compress%2Cformat&fit=max&w=2740&s=86fa2824924486546bddeca720c95e98"
              alt=""
              class="rounded w-full"
            />
          </div>
          <div class="project__content">
            <h3 class="text-[30px] font-bold leading-[20px]">Designing Dashboards</h3>
            <div class="flex space-x-4 py-5">
              <span class="inline-block bg-black rounded-full text-white px-2">2020</span>
              <a href="" class="text-[#8695A4]">Dashboard</a>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!--End .project-item-->
        <div class="border-b py-5 grid md:grid-cols-[246px,auto] gap-4">
          <div class="shadow-lg">
            <img
              src="https://pazo.vn/wp-content/uploads/2021/03/what_is_design_simple_words.jpg"
              alt=""
              class="rounded w-full"
            />
          </div>
          <div class="project__content">
            <h3 class="text-[30px] font-bold leading-[20px]">Designing Dashboards</h3>
            <div class="flex space-x-4 py-5">
              <span class="inline-block bg-black rounded-full text-white px-2">2020</span>
              <a href="" class="text-[#8695A4]">Dashboard</a>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!--End .project-item-->
        <div class="border-b py-5 grid md:grid-cols-[246px,auto] gap-4">
          <div class="shadow-lg">
            <img
              src="https://cdn.dribbble.com/users/1994565/screenshots/11240599/media/3c14aeb8ddc973fa1f94671498bdaa6b.jpg?compress=1&resize=400x300&vertical=top"
              alt=""
              class="rounded w-full"
            />
          </div>
          <div class="project__content">
            <h3 class="text-[30px] font-bold leading-[20px]">Designing Dashboards</h3>
            <div class="flex space-x-4 py-5">
              <span class="inline-block bg-black rounded-full text-white px-2">2020</span>
              <a href="" class="text-[#8695A4]">Dashboard</a>
            </div>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <!--End .project-item-->
      </div>
    </div>
  </section>